<template name="classes">
	{{>insertClass}}
	{{>insertClassLevel}}
	{{>updateClass}}
	<div class="row">
		<div class="panel panel-primary">
  <!-- Default panel contents -->
  		<div class="panel-heading">Class groups</div>

		<table class="table table-bordered table-condensed table-striped table-hover">
			<thead>
				<th>Group Name</th>
				<th>Group Level</th>
				<th>Teacher</th>
				<th>Time</th>
				<th>Room</th>
				<th>Comment</th>
			</thead>
			<tbody>
				{{#each class}}
					<tr class="classItem">
						<td>{{name}}</td>
						<td>{{level}}</td>
						<td>{{teacher}}</td>
						<td>{{time}}</td>
						<td>{{room}}</td>
						<td>{{comment}}</td>
						<td style="width:5px"><button type="button" class="btn btn-xs btn-link edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
						<td style="width:5px"><button type="button" class="btn btn-xs btn-link remove"><span class="glyphicon glyphicon-trash"></span></button></td>
					</tr>
				{{/each}}
			</tbody>
		</table>	
		</div>	
	</div>

</template>

<template name="cleft">
	<div class="btn-group-vertical leftgroup">
		<a class="btn btn-primary" data-toggle="modal" href='#modal-id-insertClass'>Add New Group</a>
		<a class="btn btn-primary" data-toggle="modal" href='#modal-id-insertClassLevel'>Add New Level</a>
	</div>

</template>

<template name="insertClass">
	<div class="modal fade" id="modal-id-insertClass">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add New Class</h4>
				</div>
				<div class="modal-body">
					
					<form class="form-horizontal" role="form">
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Name</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control name" required="required" placeholder="Name">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Comment</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control comment" required="required" placeholder="Comment">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Level</label>
					    <div class="col-sm-8">
					      <select name="owner" id="owner" class="form-control level" required="required" >
					      	{{#each levelList}}
  							<option value="{{name}}">{{name}}</option>
  							{{/each}}
							</select>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Teacher</label>
					    <div class="col-sm-8">
					      <select name="owner" id="owner" class="form-control teacher" required="required" >
  							{{#each teacherList}}<option value="{{d}}">{{profile.firstName}} {{profile.lastName}}</option>
  							{{/each}}
							</select>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Teacher</label>
					    <div class="col-sm-8">
					      <select name="owner" id="owner" class="form-control room" required="required" >
  							{{#each roomList}}<option value="{{name}}">{{name}}</option>
  							{{/each}}
							</select>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Time</label>
					    <div class="col-sm-8">
					      <select name="owner" id="owner" class="form-control time" required="required" >
  							{{#each timeList}}<option value="{{time}}">{{time}}</option>
  							{{/each}}
							</select>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Active</label>
					    <div class="col-sm-8">
					      <select name="owner" id="owner" class="isActive" required="required" >
  							<option value=true>Active</option>
  							<option value="">Not Active</option>
							</select>
					    </div>
					  </div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary save">Save changes</button>
				</div>
				
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>

<template name="insertClassLevel">
	<div class="modal fade" id="modal-id-insertClassLevel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add Level</h4>
				</div>
				<div class="modal-body">
					{{> quickForm collection="ClassLevels" id="insertBookForm" type="insert"}}
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>

<template name="updateClass">
	<div class="modal fade" id="modal-id-updateClass">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Update Class</h4>
				</div>
				<div class="modal-body">
					{{> quickForm collection="Classes" doc=editingDoc id="updateBookForm" type="update"}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>

<template name="classlevels">
	{{>insertClassLevel}}
	{{>insertClass}}
	<div class="panel panel-primary">
  <!-- Default panel contents -->
  		<div class="panel-heading">Class levels</div>

	<table class="table table-bordered table-condensed table-striped table-hover">
		<tbody>
			{{#each classLevels}}
				<tr>
					<td>{{name}}</td>
					<td style="width:5px"><button type="button" class="btn btn-xs btn-link edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
					<td style="width:5px"><button type="button" class="btn btn-xs btn-link remove"><span class="glyphicon glyphicon-trash"></span></button></td>

				</tr>
			{{/each}}
		</tbody>
	</table>
</div>

</template>

<template name="updateClass1">
	{{>afQuickForm collection="Classes" doc=editingDoc id="updateClass" type="update"}}
</template>

<template name="classinfo">
	
</template>