<template name="home">
	<div class="row">
		<div class="container">
	<div class="carousel slide" id="carousel-example">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example" data-slide-to="1"></li>
			<li data-target="#carousel-example" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner">
			<div class="item active">
				<a href="index.html"><img src="/english1.jpg" alt="Image"></a>
				<div class="carousel-caption">Learn English with us!</div>
			</div>
			<div class="item">
				<img src="/english2.jpg" alt="Image"> 
				<div class="carousel-caption">Our students in class</div>
			</div>
			<div class="item">
				<img src="/english3.jpg" alt="Image">
				<div class="carousel-caption">Visit countries</div>
			</div>
		</div>
		<a href="#carousel-example" class="left carousel-control" data-slide="prev">
			<span class="icon-prev"></span>

		</a>
		<a href="#carousel-example" class="right carousel-control" data-slide="next">
			<span class="icon-next"></span>	
		</a>
	</div>
	</div>
	</div>
	<div class="row topmargin">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="panel panel-primary">
			  <div class="panel-heading">News:</div>
			  <div class="panel-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, in, nam, adipisci, similique mollitia deleniti blanditiis repellat vel cupiditate voluptatum consectetur commodi ullam architecto esse odit natus minus libero laborum?</p>
			  </div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div class="panel panel-info">
			  <div class="panel-heading">Info about school:</div>
			  <div class="panel-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, in, nam, adipisci, similique mollitia deleniti blanditiis repellat vel cupiditate voluptatum consectetur commodi ullam architecto esse odit natus minus libero laborum?</p>
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, consequatur, magnam cum modi officiis mollitia itaque magni dolores ut sed omnis fuga veritatis qui eum et dolore tempora facere blanditiis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, reprehenderit, fugiat, accusamus qui facere illum temporibus obcaecati debitis provident accusantium voluptates tenetur earum optio velit itaque a molestiae nostrum at?</p>
			  </div>
			  
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="panel panel-success">
			  <div class="panel-heading">Contacts:</div>
			  <div class="panel-body">
			  	<p>Address:</p>
			  	<p>79 Mira Prospect</p>
			  	<p>Bishkek</p>
			  	<p>Tel: 0312 85 85 92</p>
			  	<p>Fax: +996 312 85 85 92</p>
			  </div>
			</div>
		</div>
	</div>
</template>

<template name="hleft">
	<ul>
		<li>list</li>
		<li>list</li>
		<li>list</li>
		<li>list</li>
		<li>list</li>											
	</ul>
</template>