<template name="layout">
	<div class="container">
		{{>menu}}
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			{{>yield region="left"}}
		</div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
			{{>yield}}
		</div>
	</div>	
</template>

<template name="notFound">
	<h1>OOOOPSY WOOPS! PAGE NOT FOUND!</h1>
	<h1>you can say it is  an ERROR 404 pretty much</h1>
</template>

<template name="adminlayout">
	<div class="container">
		{{>menu}}
		{{>yield}}
	</div>
</template>	

<template name="homelayout">
	<div class="container">
		{{>menu}}
		{{>yield}}
	</div>
</template>

