<template name="profile">
	<div class="container">
		{{>menu}}
		{{#if currentUser}}
		<div class="page-header">
		  <h1>Hello 
		  	{{#each currentUser.emails}}
				{{address}}
		  	{{/each}}
		  	<small>this is your profile</small></h1>
		</div>
		{{else}}
			<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
				<div class="panel panel-danger">
					<div class="panel-heading">You are not logged in!</div>
				  <div class="panel-body">
				    <p>To view your profile, please log in first.</p>
				    <p>If you are not yet signed up, please come sign up.</p>
				  </div>
				  <div class="panel-footer">
				  	
				  </div>
				</div>

			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<div class="panel panel-info">
					<div class="panel-heading">Sign Up</div>
				  	<div class="panel-body">
				  		{{>signup}}
				  	</div>
				  	<div class="panel-footer">
						
				  	</div>
				</div>

			</div>
		{{/if}}
		{{#if isTeacherUser}}
			{{>teacherClasses}}

		{{/if}}

		{{#if isStudentUser}}
			{{>studentinfo}}
		{{/if}}
	</div>
</template>

<template name="studentinfo">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="panel panel-info">
		  <div class="panel-body">
		    {{#each postlist}}
		   		<div class="alert alert-info">{{post}}</div>
		   		{{/each}}
		  </div>
		  <div class="panel-footer">Some info here</div>
		</div>
	</div>
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		<div class="panel panel-success">
		  <div class="panel-body">
		  		<div class="alert alert-success"><h2>{{classlist}}</h2></div>
		  		<table class="table table-striped table-hover table-bordered">
		  			<thead><tr><th>Deadline:</th><th>Assignment</th></tr></thead>
		  			<tbody>
		  				{{#each homework}}
		  				<tr>
		  					<td>{{deadline}}</td> 
		  					<td>{{assignment}}</td>
		  				</tr>
		  				{{/each}}
		  			</tbody>
		  		</table>
		  		
		  </div>
		  <div class="panel-footer">Another info here</div>
		</div>
	</div>
</template>

<template name="teacherClasses">

	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

		<!--{{>quickForm collection="Posts" id="insertpost" type="insert"}}-->

		{{>quickForm collection="Assignments" id="insertas" type="insert"}}

		{{#each homework}}
			Deadline: {{deadline}} Assignment:{{assignment}}
		{{/each}}
		
	</div>
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		<div class="panel panel-primary">
  <!-- Default panel contents -->
	<div class="panel-heading">Classes</div>

	<table class="table table-bordered table-hover table-condensed">
		<thead>
			<tr>
				<th>Class Group</th>
				<th>Level</th>
				<th>Time</th>
				<th>Room</th>
			</tr>
		</thead>
		<tbody>
			{{#each classList}}
				<tr><td>{{name}}</td>
					<td>{{level}}</td>
					<td>{{time}}</td>
					<td>{{room}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	</div>	
	</div>
			
</template>

<template name="loginmodal">
	<div class="modal fade" id="modal-id">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Log In</h4>
							</div>
							<div class="modal-body">
								
								<form class="form-horizontal" role="form">
								  <div class="form-group">
								    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
								    <div class="col-sm-10">
								      <input type="email" class="form-control email" id="inputEmail3" placeholder="Email">
								    </div>
								  </div>
								  <div class="form-group">
								    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
								    <div class="col-sm-10">
								      <input type="password" class="form-control password" id="inputPassword3" placeholder="Password">
								    </div>
								  </div>
								  
								  <div class="form-group">
								    <div class="col-sm-offset-2 col-sm-10">
								      <button type="submit" class="btn btn-primary login" data-dismiss="modal">Sign in</button>
								    </div>
								  </div>
								</form>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

</template>