<template name="rooms">
	<div class="page-header">
	  <h1>Rooms<small>subtext</small></h1>
	</div>
</template>

<template name="rleft">
	{{>simple}}
	{{>passData}}
</template>

<template name="simple">
  <h1>Calling serve method</h1>
  <input type="button" value="Call" />
  <div id="simpleResult">{{result}}</div>
</template>
 
<template name="passData">
  <h1>passing data to server method</h1>
  <span>Name: </span><input type="text" value="Nachiket"/>
  <input type="button" value="Call" />
  <div id="passDataResult">{{result}}</div>
</template>