<template name="students">
	{{>insertStudent}}
	<h4>student list</h4>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Address</th>
				<th>Telephone</th>
				<th>Birthdate</th>
				<th>Gender</th>
			</tr>
		</thead>
		<tbody>
			{{#each studentList}}
				<tr>
					<th>{{firstName}}</th>
					<th>{{lastName}}</th>
					
					<th>{{#each emails}}{{address}}&nbsp;{{/each}}</th>
					
					<th>{{address}}</th>
					<th>{{tel}}</th>
					<th>{{birthday}}</th>
					<th>{{gender}}</th>
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>

<template name="sleft">
	<div class="btn-group-vertical">
			<a class="btn btn-primary" data-toggle="modal" href='#modal-id-insertStudent'>Add New Student</a>
		</div>
</template>

<template name="insertStudent">
	<div class="modal fade" id="modal-id-insertStudent">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add Student</h4>
				</div>
				<div class="modal-body">
					{{>quickForm collection=Meteor.users id="insertStudent" type="insert"}}
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>